.component {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('image2.jpg');
    background-blend-mode: multiply;
    background-attachment: scroll;
    background-position: right center; 
    background-repeat: no-repeat; 
	background-size: cover;
}

/* .component {
	background-image: url('image2.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
} */

.content {
	position: absolute;
	font-style: Sans-serif;
    left: 28%;
	top: 35%;
	line-height: 3vw;;
	font-weight:bold;
  	color:#000000;
}

.bigTitle {
	position: absolute;
	font-size: 3.5vw;
	font-style: Sans-serif;
	margin-top: 5%;
	margin-left: 28%;
}

.text {
	font-size: 1.5vw;
	font-style: Sans-serif;
}

select {
	text-align: center;
	font-size: 1.3vw;
	padding: 7px 100px;
	border-radius: 5px;
}

a:hover {
    color: #E63F00;
}

.okButton:hover {
	background-color: #0044BB;
} 

.okButton {
	position: absolute;
	top: 10vw;
	left: 30vw;
	background: #4c6ca0;
	color: #fff;
	border: none;
	font-size: 1.3vw;
	padding: 8px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.exit {
	position: absolute;
	top: 6vw;
	right: 15vw;
	font-size: 1.5vw;

}